<ion-content fullscreen>

  <ion-button (click)="close()" class = "transparent" >
    <ion-icon slot="icon-only" name="arrow-back-outline" color ="dark"></ion-icon>
  </ion-button >
  
  <ion-card>
    <ion-card-header [ngStyle]="{'background-color':this.api.color}">
      <ion-card-title [ngStyle]="{'color':colorText}" >
        <ion-row>Ligne {{this.api.ligne}}</ion-row> 
        <ion-row>{{this.depart}} </ion-row> 
        <ion-row>Vers</ion-row>
        <ion-row> {{this.arrivee}}</ion-row> 
      </ion-card-title>     
    </ion-card-header>

    <ion-row>
      <ion-col width-20 style="text-align: left">
        <ion-searchbar placeholder="Rechercher un arrêt" [(ngModel)] = "search"></ion-searchbar>
        </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button (click)="viewPdfplan()" class="transparent" color = "dark">
          Plan
         <ion-icon name="map-outline"></ion-icon>
        </ion-button>
          <ion-button (click)="viewPdfpHoraire()" class="transparent" color = "dark">
            Horaires
          <ion-icon name="time-outline" ></ion-icon>
        </ion-button>
      </ion-col>
  </ion-row>

    <ion-row>
        <ion-col width-80 style="text-align: left">
        <ion-button class="transparent" (click)="precedent()">
          <ion-icon slot="icon-only" name="chevron-back-sharp" color = "dark"></ion-icon>
        </ion-button>
      </ion-col>

        <ion-col width-80 style="text-align: center">
          <ion-button class="transparent" (click)="changeSens()">
            <ion-icon slot="icon-only" name="swap-vertical-sharp" color = "dark"></ion-icon>
          </ion-button>
        </ion-col>
      <ion-col width-80 style="text-align: right">
        <ion-button class="transparent" (click)="suivant()">
          <ion-icon slot="icon-only" name="chevron-forward-sharp" color = "dark"></ion-icon>
        </ion-button>
      </ion-col>


    </ion-row>

  <ion-list >
        <ion-item  id = "{{A.trips}}" slot="start" *ngFor = "let A of arret | arretFiltre:search" (click) = "getHoraire($event)">
                  <ion-col width-50 style="text-align: left">
                  {{A.parentStation.name}}
                <br>
                {{A.parentStation.city}}
                <br>
                </ion-col>
                <ion-col id ="horaire{{A.trips}}" width-80  style="text-align: right" >
                </ion-col>


        </ion-item>
  </ion-list>
</ion-card>
</ion-content>
