ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    padding-left: 10%;

    }

 ion-toggle {
      --background-checked	: "https://cdn-icons.flaticon.com/png/512/3059/premium/3059318.png?token=exp=1645002165~hmac=ad5d858c9a3925c01c8e930644029656";
      }


      .transparent {
        --background: transparent;
        }
    
