<ion-content>   
    
    <ion-card>
    <ion-label>Tram</ion-label>
    <br>
    <ion-label>4h30 à 1h</ion-label>
    <br>
        
        <ion-toolbar>       
        <ion-buttons slot="start"  *ngFor = "let t of ligneTram">
            <ion-button id="{{t.id}}" class = "round" [ngStyle]="{'background-color':'#'+t.color}" (click) = "iniModal()">
                    {{t.shortName}}
            </ion-button>
        </ion-buttons>
        </ion-toolbar>
    </ion-card>
     
    <ion-card>
        <ion-label>Navette Relais</ion-label>
        <br>
        <ion-label>4h30 à 1h</ion-label>
        <br>

        <ion-toolbar>
        <ion-buttons slot="start" *ngFor = "let r of ligneRelais">
            <ion-button id="{{r.id}}"  class = "round" [ngStyle]="{'background-color':'#'+r.color}" (click) = "iniModal()">
                    {{r.shortName}}
            </ion-button>
        </ion-buttons>
        </ion-toolbar>
    </ion-card>


    <ion-card>
        <ion-label>Chrono</ion-label>
        <br>
        <ion-label>5h à 1h</ion-label>
        <br>

        <ion-toolbar>
            <ion-buttons slot="start" *ngFor ="let c of ligneChrono">
            <ion-button id="{{c.id}}" class = "round" [ngStyle]="{'background-color':'#'+c.color}" (click) = "iniModal()">
                    {{c.shortName}}
                </ion-button>
            </ion-buttons>
            </ion-toolbar>
        </ion-card>


    <ion-card>
            <ion-label>Proximo</ion-label>
            <br>
            <ion-label>5h à 21h</ion-label>
            <br>


            <ion-toolbar>
            <ion-buttons slot="start" *ngFor = "let p of ligneProximo">
            <ion-button id="{{p.id}}" class = "square" [ngStyle]="{'background-color':'#'+p.color}" (click) = "iniModal()">
                    {{p.shortName}}
            </ion-button>
        </ion-buttons>
        </ion-toolbar>
    </ion-card>

    <ion-card>
        <ion-label>Flexo</ion-label>
        <br>
        <ion-label>6h30 à 20h</ion-label>
        <br>

        <ion-toolbar>
            <ion-buttons slot="start" *ngFor = "let f of ligneFlexo">
            <ion-button id="{{f.id}}" class = "square"  [ngStyle]="{'background-color': '#'+f.color}" (click) = "iniModal()">
                    {{f.shortName}}
            </ion-button>
        </ion-buttons>
        </ion-toolbar>
    </ion-card>
    
</ion-content>
