<ion-content>
    <ion-list>
        <ion-item  lines="full" *ngFor = "let l of dataLigne">
            <ion-card id="{{l.id}}"  [ngStyle]="{'background-color':'blue', 'color':'black'}" (click) = "iniModal()">
                <p>
                    {{l.shortName}}
                    <br>
                    {{l.color}}
                    <br>
                    {{l.longName}}
                    <br>
                    {{l.mode}}
                    <br>
                </p>
            </ion-card>
        </ion-item>
    </ion-list>

  

</ion-content>
