.round{
  height: 30px;
  line-height: 30px;  
  width: 30px;  
  font-weight: bold;
  border-radius: 50%;
  color: white;
  text-align: center;
}


.square{
    height: 30px;
    line-height: 30px;  
    width: 40px;  
    font-weight: bold;
    border-radius: 25%;
    color: white;
    text-align: center;
  }


  .titre{
    font-weight: bold;
    color: black;


}

ion-card {
  padding: 2% 2%;
  width: auto;
  }
  ion-buttons {
    padding-left: 2% 2%;
    margin-left: 1%;

  }
