<ion-header>
  <ion-toolbar>
    <ion-button (click)="close()" class = "transparent" >
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button >
    <ion-title>{{nom}} - Horaires prochaines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Sens 1</h2>
    <ion-item *ngFor="let passage of convertArret">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{passage}}</ion-label>
    </ion-item>

    <h2>Sens 2</h2>
    <ion-item *ngFor="let passage2 of convertArret2">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{passage2}}</ion-label>
    </ion-item>
  
  </ion-content>
