<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="carte">
      <ion-icon name="map-sharp"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris">
      <ion-icon name="heart-sharp"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="itineraire">
      <ion-icon name="navigate-sharp"></ion-icon>      
      <ion-label>Itinéraire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lignes">
      <ion-icon name="bus-sharp"></ion-icon> 
      <ion-label>Lignes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>